.main {
    display: flex;
}

.navigation {
    border-right: 2px solid darkblue;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
}

* {
    font-family: sans-serif;
}