ul {
    list-style-type: none;
    padding: 1em;
}

li {
    background-color: azure;
    border: 1px solid gray;
    border-radius: 0.4em;
    padding: 0.2em;
    margin-top: 0.5em;
    text-align: center;
}

li:hover {
    background-color: aqua;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

ul li.active {
    background-color: cornflowerblue;
    color: bisque;
}